
## wireguard client config
## edit and copy this file to config.sh


## the hostname or ip and port of your wireguard peer / server
local REMOTEHOST=myrouter.homedomain.at
local REMOTEPORT=51820

## the desired name of the local wireguard interface. 
local WGIF=wg0

## your local ipv4/ipv6 inside the VPN. Should be routed and configure at the peer / server
local WGREMOTEGW4=192.168.42.1
local WGREMOTEGW6=2001:400:2323:42::1
local WGMYIPNETS=(192.168.42.12/24 2001:400:2323:42:12/64)

## file with your local private key
local MY_PRIV_KEY_FILE=./private.key

## file with the key shared between both peers
local OUR_PRESHARED_KEY_FILE=./psk.key

## the remote peer / servers public key as string
local REMOTE_PUB_KEY_STRING='fooblafooblafooblafooblafoobla'

